# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Generated Doc
doc/

# Build
bin/
build/

# generated external
external/include
external/lib

# generated tags
.tags
tests/.tags
src/.tags
tests/.tags_sorted_by_file
src/.tags_sorted_by_file

*.user
*.autosave
*.~
*.*~
*.swp

# Remove automatic marshal generation
marshal.[hc]

# Remove modules' joint headers
include/grafeo/*.h
