@font-face {
    font-family: "montserrat";
    src: url("montserrat-regular-webfont.woff") format('woff');
}

#projectname{
  font-size: 200%;
}
#projectname, #projectbrief{
    font-family: montserrat;
    color:white;
}
.title{
    font-weight: normal;
    color: #3D578C;
    font-family: montserrat;
}
p,li{
    color:#3D578C;
}

h1,h2,h3,h4,h5,h6{
    color:#283A5D;
}
.image{
    display: inline-block;
}

#nav-tree{
    background: inherit;
}
body{
    /*background: radial-gradient(white,#ddddff);*/
    /*background: -webkit-radial-gradient(50% 50%, circle, rgb(75, 75, 200), rgb(255, 255, 75));
    background: -moz-radial-gradient(50% 50%, circle, rgb(75, 75, 200), rgb(255, 255, 75));
    background: -ms-radial-gradient(50% 50%, circle, rgb(75, 75, 200), rgb(255, 255, 75));
    background: -o-radial-gradient(50% 50%, circle, rgb(75, 75, 200), rgb(255, 0, 75));
    background: radial-gradient(circle at 0% 0%, white, #66B6F5);*/
    /*background-image: url("../assets/css/images/overlay.png"), url("../assets/css/images/pattern-size1.svg");*/
}
div.header{
    background: inherit;
}
.memdoc{
    background: none;
    /*background-color: #ECF6FF;*/
}
.memproto{
    background-color: rgba(200,200,255,0.4);
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow:none;
}
.tablist a{
    background-image: none;
    color:white;
    text-shadow:none;
}
.tablist a:hover {
    background-image:none;
    background-color:rgba(100,100,100,0.3);
}
.tablist li.current a{
    background-image:none;
    background-color:rgba(100,100,100,0.5);
}
.tabs, .tabs2, .tabs3{
    background-image: none;
    /*background: #e6e6f5;/*rgba(100,100,255,0.5);*/
}

.tabs{
    position: absolute;
    top: 0px;
    width: 100%;
}
.tabs2{
    position: absolute;
    top:36px;
}
.tabs .tablist{
    margin-left: 500px;
}
.tabs2 .tablist{
    margin-left: 500px;
}
#top{
    background: #4696e5;/*#e6e6f5;/*rgba(100,100,255,0.5);*/
    border-bottom: 1px solid #5373B4;
    background-image: url("../assets/css/images/overlay.png"), url("../assets/css/images/pattern-size1.svg");*/
}
.tabs2{
    
}
#titlearea{
    z-index: 105;
    position:relative;
    display:inline-block;
    width:initial;
    border-bottom: none;
}

.tablist li{
    background-image:none;
    line-height: 28px;
}
.tabs .tablist li{
    line-height: 36px;
}
.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    background-color: rgba(255,255,255,0.5);
}
.ui-resizable-e{
    background-color: rgba(200,200,255,0.4);
    background-image: none;
}
/*.contents a:visited{
    color:white;
}
a{
    color:white;
}

.memItemLeft, .memItemRight,
.memItemLeft a, .memItemRight a,
.memItemLeft a:visited, .memItemRight a:visited,
.mdescRight a, .mdescRight a:visited{
    color:#1E456B;
}
.paramtype a{
    color:#1E456B;
}*/